<!-- Top Navbar sticks to top of screen -->
<mat-toolbar color="white" sticky>
  <img src="./assets/imgs/LogoSky.JPG" style="height: 40px; margin-right: 8px;">
  <span style="margin-right: 16px; text-align: center;">=======</span>
  <button mat-button routerLink="/" aria-label="home button">Lista</button>
  <div>
    <div>
      <button
        mat-button
        routerLink="/dashboard"
        aria-label="edit blog post button"
      >
        Crear
      </button>
    </div>
  </div>
</mat-toolbar>
