<head>
  <meta
    name="description"
    content="Post detail page shows the full text of the post. The author can also log in to edit or delete the post"
  />
</head>

<ng-container *ngIf="post">
  <!--post editing page visible when editing -->
  <div [hidden]="!editing">
    <mat-card appearance="outlined" class="post-detail-card">
      <h1 color="primary">Editar Registro</h1>
      <mat-select
      [(ngModel)]="post.tipo"
      placeholder="Tipo"
      name= "Post Tipo"
    >
      <mat-option value="Avion">Avion</mat-option>
      <mat-option value="Simulador">Simulador</mat-option>
    </mat-select>
      <br />
      <mat-form-field>
        <input
          matInput
          placeholder="Patente"
          [(ngModel)]="post.patente"
          name="Post Patente"
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          placeholder="Modelo"
          [(ngModel)]="post.modelo"
          name="Post Modelo" 
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Post Costo"
          [(ngModel)]="post.costo" 
          name="Costo"
        />
      </mat-form-field>
      
      <mat-form-field>
        <input
          matInput
          placeholder="Fabricante"
          [(ngModel)]="post.fabricante"
          name="Post Fabricante"
        />
      </mat-form-field>
      <mat-select
      [(ngModel)]="post.activo"
      [(value)]="selectedCategory"
      name= "Post Activo"
    >
      <mat-option value="Si">Si</mat-option>
      <mat-option value="No">No</mat-option>
    </mat-select>
      <br />
      <br />
      <mat-form-field>
        <mat-label
          >Seleccione Estado ({{ post.estado }} Actual)</mat-label
        >
        <mat-select
          [(ngModel)]="post.estado"
          [(value)]="selectedCategory"
          name= "Post Estado"
        >
          <mat-option value="Decomisionado">Decomisionado</mat-option>
          <mat-option value="Mantenimiento">Mantenimiento</mat-option>
          <mat-option value="Operativo">Operativo</mat-option>
          <mat-option value="Perdido">Perdido</mat-option>
          <mat-option value="Revision Tecnica">Revision Tecnica</mat-option>
          <mat-option value="Robado">Robado</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field>
        <textarea
          matInput
          placeholder="Post Comentarios"
          [(ngModel)]="post.comentarios"
          name="Comentarios"
          rows="4"
        ></textarea>
      </mat-form-field>
      <br />
      <div class="bottom-button-row">
        <button
          mat-flat-button
          color="accent"
          (click)="updatePost()"
          aria-label="Update post"
        >
          Save
        </button>
        <button
          mat-flat-button
          color="primary"
          (click)="editing = false"
          *ngIf="editing"
          aria-label="Cancel changes"
        >
          Cancel
        </button>
      </div>
    </mat-card>
  </div>

  <!--post detail page visible when NOT editing -->
  <div [hidden]="editing">
    <mat-card appearance="outlined" class="mat-elevation-z1 post-detail-card">
      <mat-card-header class="detail-card-header">
        <div
        ></div>
        <mat-card-title class="post-title">
         Tipo: {{ post.tipo }}
        </mat-card-title>
        <mat-card-subtitle class="post-subtitle">
         Patente: {{ post.patente }}
        </mat-card-subtitle>
      </mat-card-header>
<div *ngIf="imageUrl">
  <img [src]="imageUrl" alt="Imagen desde Firebase">
</div>
      <mat-card-content>
        <p class="post-content">Comentarios:{{ post.comentarios }}</p>
        <span>
          <a class="credit-date-text">
            <app-svg-camera></app-svg-camera>
            Modelo: {{ post.modelo }}
            <!--text only-->
          </a>
          <p class="credit-date-text">
            <app-svg-folder></app-svg-folder>
           Activo: {{ post.activo }}
          <p class="credit-date-text">
            <app-svg-folder></app-svg-folder>
           Costo Total: {{ post.costo }}
          <p class="credit-date-text">
            <app-svg-folder></app-svg-folder>
           Estado: {{ post.estado }}
           <p class="credit-date-text">
            <app-svg-folder></app-svg-folder>
           Fabricante: {{ post.fabricante }}
          </p>
          <p class="credit-date-text">
            <app-svg-timer></app-svg-timer>
            Ultima Mod: {{ post.published.toDate() | dateConvert }}
          </p>
          <input type="file" accept=".png, .jpg, .jpeg" multiple>
        </span>
      </mat-card-content>
      <hr class="horiz-line" />
        <p><a href="https://firebasestorage.googleapis.com/v0/b/skypractice-2023.appspot.com/o/Aviones%2FBeechcraft%2FAvionesBeechcraft1.jpg?alt=media&token=10cb3fb7-58ae-4072-b80b-bb01c4569d1e" target="_blank">Foto 1: Liberty XL2</a>
        <p><a href="https://firebasestorage.googleapis.com/v0/b/skypractice-2023.appspot.com/o/Aviones%2FBeechcraft%2FAvionesBeechcraft2.jpg?alt=media&token=155e5f10-fec0-49e2-8917-706c16509ae2" target="_blank">Foto 2: Liberty XL2</a>
        <p><a href="https://firebasestorage.googleapis.com/v0/b/skypractice-2023.appspot.com/o/Aviones%2FBeechcraft%2FAvionesBeechcraft3.jpg?alt=media&token=b3247b0b-d0e7-44b1-a3d2-193bc21dc82c" target="_blank">Foto 3: Liberty XL2</a>
      <mat-card-actions class="detail-card-actions" align="left">
        <button
          mat-raised-button
          (click)="returnToList()"
          class="post-button-back"
          aria-label="Back button"
        >
          Back
        </button>
        <div>
          <a
            mat-raised-button
            (click)="editing = true"
            class="post-button-edit"
            aria-label="Go back to list of posts"
          >
            Edit
          </a>
        </div>
        <div>
          <a
            mat-raised-button
            (click)="delete()"
            class="post-button-delete"
            aria-label="Delete post"
          >
            Delete
          </a>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
